@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Take REST</h1>
    <p class="lead">Take REST is a demo application created in ASP.NET framework to show how to consume REST Service which are platform agnostic and can be called from anywhere e.g. Java, .NET, jQuery, Angular etc.</p>
    <p><a href='@Url.Action("Index", "Photos")' class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>